<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/mrunaln/OneDrive - AMDOCS/Desktop/personal documnets/Automation testing docs and learning/LearningSeleniumATB13x/src/test/java/com/thetestingacademy/ex01_Selenium_Basics/PracticeProjects"><classes><class name="com.thetestingacademy.ex01_Selenium_Basics.PracticeProjects.Project_2"><methods><include name="test_VWO_Login_Invalid_credentials"/></methods></class><class name="com.thetestingacademy.ex01_Selenium_Basics.PracticeProjects.Task_Project"><methods><include name="test_Start_Free_Trial"/></methods></class></classes></test></suite>